<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Skills</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active">Skills</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <!-- Content starts here -->
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">

              <div class="card-header">
                <h3 class="card-title">Front end skills</h3>
              </div>

              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Icon</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody cdkDropList (cdkDropListDropped)="dropFrontEndSkills($event)">
                    <tr *ngFor="let skill of frontEndSkills;" cdkDrag>
                      <td> {{ skill.name }} </td>
                      <td> {{ skill.icon }} </td>
                      <td> 
                        <div class="actions">
                          <div class="action" cdkDragHandle>
                            <i class="fas fa-bars"></i>
                          </div>
                          <div (click)="editSkill(skill)" class="action">
                            <i class="fas fa-pen-alt"></i>
                          </div>
                          <div (click)="removeSkill(skill)" class="action">
                            <i class="fas fa-trash-alt danger"></i>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary" (click)="addFrontEndSkill()">Add skill</button>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">

              <div class="card-header">
                <h3 class="card-title">Back end skills</h3>
              </div>


              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Icon</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody cdkDropList (cdkDropListDropped)="dropBackEndSkills($event)">
                    <tr *ngFor="let skill of backEndSkills;" cdkDrag>
                      <td> {{ skill.name }} </td>
                      <td> {{ skill.icon }} </td>
                      <td> 
                        <div class="actions">
                          <div class="action" cdkDragHandle>
                            <i class="fas fa-bars"></i>
                          </div>
                          <div (click)="editSkill(skill)" class="action">
                            <i class="fas fa-pen-alt"></i>
                          </div>
                          <div (click)="removeSkill(skill)" class="action">
                            <i class="fas fa-trash-alt danger"></i>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary"  (click)="addBackEndSkill()">Add skill</button>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">

              <div class="card-header">
                <h3 class="card-title">Other skills</h3>
              </div>

              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Icon</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody  cdkDropList (cdkDropListDropped)="dropOtherSkills($event)">
                    <tr *ngFor="let skill of otherSkills;" cdkDrag>
                      <td> {{ skill.name }} </td>
                      <td> {{ skill.icon }} </td>
                      <td> 
                        <div class="actions">
                          <div class="action" cdkDragHandle>
                            <i class="fas fa-bars"></i>
                          </div>
                          <div (click)="editSkill(skill)" class="action">
                            <i class="fas fa-pen-alt"></i>
                          </div>
                          <div (click)="removeSkill(skill)" class="action">
                            <i class="fas fa-trash-alt danger"></i>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer">
                <button type="submit" class="btn btn-primary" (click)="addOtherSkill()">Add skill</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>